body{
    background-image: url(racetrack.jpg);
    object-fit: cover;


}
main{
    margin-top: 120px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

header{
    background-color: rgb(1, 1, 1);

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    padding: 20px;
    justify-content: space-between;
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    max-width: 5%;
    max-height: 5%;
    box-shadow: 0 4px 6px rgba(205, 9, 9, 0.8);
}

nav ul{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: center;
}

nav ul li{
margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    
  
}

nav ul li a:hover{
    
    font-weight: 800 ;
    color: black;
    background-color: red;

}
.car-section{
    margin-top: -80px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    width: 60%;
    display: inline-block;
    background-color: rgb(26, 117, 202);
    border-radius: 10px;

}


.car-section h1{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}
#garage-img{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    border: none;
    background-color: rgb(31, 30, 30);
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 60%;
    width: 600px;
    border-radius: 10px;
    align-items: center;
}



#car{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    border: none;
    background-color: rgb(86, 153, 173);
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 60%;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input{
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;background-color: rgb(255, 255, 255);
}

.car-section ul { 
    
    display: inline-block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    
}

.pay{
    display: block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
     border-radius: 5px;
     margin-top: -80px;
     width: 400px;
     text-align: center;
     background-color: red;
}

.pay button{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

}