*{
    font-family: "Roboto", sans-serif;
    
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(1, 1, 1);

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    padding: 20px;
    justify-content: space-between;
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    max-width: 5%;
    max-height: 5%;
    box-shadow: 0 4px 6px rgba(205, 9, 9, 0.8);
}

nav ul{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: center;
}

nav ul li{
margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: red;
    font-weight: 700;
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    
  
}

nav ul li a:hover{
    
    font-weight: 800 ;
    color: black;
    background-color: red;

}

.car-showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
   
}


.car-showcase::before,
.car-showcase::after{
content: '';
position: absolute;
top: 0;
width: 100%;
height: 100%;
transform-origin: bottom;
background-color: rgb(169, 46, 46);
z-index: -1;

}

.car-showcase::before{
    right: 60%;
    transform: skewx(-5deg)
     
}

.car-showcase::after{
    left: 50%;
    transform: skewx(-5deg)
}



.car-img{
  height: 400px;
  width: 400px;
 
  margin-right: 150px;
  

}
.car-showcase img{
    min-width: 100%;
    min-height: 100%;
    max-width: 50%;
    max-height: 50%;
   
}

.car-showcase img:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

.car-info{
    flex: 1;
    background-color: white;
    text-align: center;
    padding: 70px;
    margin-left: 40px;
    flex-direction: column;
    border-radius: 20px;
    max-width: 20%;
    float: left; 
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    
}
.car-info h1{
    font-size: 40px;
    font-weight: 700;

}

.car-info h3{
    font-size: 20px;
    font-weight: 700;
}
.car-info button{
    background: red;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.car-info button:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease;
    background-color: black;
    color: white;
    
}

.reserve-process-overview{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 16px;
    margin-bottom: 10px;
    padding: 16px;
    
}
.reserve-process{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    background-color: red;
}

.reserve-process:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.reserve-process .icon img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.reserve-process h3{
    margin:8px 0 ;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 20px;
     
}
.reserve-process h3 a{
   text-decoration: none;
    font-size: 30px;
    color: rgb(0, 0, 0);


}

.reserve-process h3:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
      
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.reserve-process p{
    font-weight: 800;
    font-size: 20px;
    margin-top: -20px;

}


