*body{
    width: auto;
}

header{
    background:url(navi.webp);
    background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    padding: 20px;
    justify-content: space-between;
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    max-width: 5%;
    max-height: 5%;
    box-shadow: 0 4px 6px rgba(205, 9, 9, 0.8);
}

nav ul{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: center;
}

nav ul li{
margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(254, 254, 254);
    font-weight: 700;
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    
  
}

nav ul li a:hover{
    
    font-weight: 800 ;
    color: black;
    background-color: red;

}
.payment-form{
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    flex-direction: column;

}

.payment-form h2{
    margin:40px 0 ;
    font-size: 40px;
    color: #000000;
}

.payment-form form{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    padding: 60px;
    width: 50%;
    align-self: center;
    
}

.payment-form form label{
    font-size: 28px;
    display: block;
    margin-bottom: 10px;
    
}


.payment-form form input:focus{
    outline: none;
    border: solid 2px #000000;
}

.payment-form form button{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100%;
    
}
.payment-form form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    background-color: #fff;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);

}

.payment-form form button:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}